{% comment %} <h1>Usernames</h3>

    <ul>
        {% for username in usernames %}
            <li>{{ username }}</li>
        {% endfor %}
    </ul> {% endcomment %}
    <html>
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <body>
    
    <div class="w3-container">
      <h2>List of Registered Users</h2>

      <ul class="w3-ul w3-border" style="width:50%">
        {% for username in usernames %}
            <li>{{ username }}</li>
        {% endfor %}
      </ul>
    </div>
    </body>
    </html>